:root { /*Escribirmos root para que su alcance (scope) sea global.*/
    --black:#000000; /*Definimos una variable black con los dos guiones tal que referirse a esa variable Y de esa forma poderse reutilizar*/
    --white: #FFFFFF; /*Se acceden mediante la función var()*/
    --rojo:#AC3B61 ;
    --azul:#022949;
    --naranja:#F27D42;
    --turquesa:#558DCA;
    --celeste:#98FFF;
    --cian: #C8EFF9;
    --text-input-field: #F7F7F7;
    --fuente: 'Montserrat';
}

body {
    font-family: 'Montserrat'; /*Aplicamos el font del link de fonts.google al elemento Body*/
    background-color: var(--azul);
    }
.contenedor-ppal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;    
}
.contenedor-texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.principal {
    width: 100%;
    height: 20vh;
    display: grid;
    place-items: center start;
    padding: 50px;
}
.descripcion {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.Nombre-Fede {
    color: white;
    font-size: 60px;
}
.Nombre-Git {
    color: var(--cian);
    font-size: 30px;
}
.short-description {
    font-size: 20px;
    color: var(--naranja);
}
.navbar {
    display: flex; /*Esto es clave para que los elementos dentro de nav (logo, navbar-riht y navbar-left esten uno al lado del otro)*/
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 2px solid var(--celeste);
    text-decoration: none; /*saca la linea de subrayado que viene por default*/
    padding: 5;
    align-items: center;
    font-size: 280%;
}
.navbar-left a{
    text-decoration: none; /*saca la linea de subrayado que viene por default*/
    padding: 5;
    color: var(--turquesa);
    margin-top: 16px;
    height: 60px; /*AUNQUE NO PAREZCA ESTE ES MUY IMPORTANTE-sin el en el responsive design se colapsan los elementos de la derecha*/
}

.navbar-left a:hover{ /*les ponemos el borde y el texto de otro color*/
    border: 2px solid var(--naranja);
    border-radius: 10px;
    color: var(--turquesa);
}
.logo-lila {
    width: 12%;
    position: relative;
    right: -80%;
}
.perfil {
    top: 70px;
    right: 17%;
    position: absolute;
    width: 27%;
    height: 50%;
    border-radius: 65%;
}
.dot {
    position: absolute;
    right: 16.5%;
    top: 60px;
    height: 53%;
    width: 28%;
    background-color:black;
    border-radius: 100%;
    z-index: -1;
    display: inline-block;
  }
.frase {
    display: grid;
    grid-template-columns: 0.9fr 1fr;  
}
.contenedor-api {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.2fr 1fr;
    max-width: 60%;
    margin-top: -6%;  
}
.some-random {
    text-decoration: underline;
    font-size: 120%;
    font-style: oblique;
    color: var(--white);
}
.group-relative h2{
    color: var(--white);
}
.api {
    color: var(--white);
    text-align: left;
    width: 110%;
    font-size: medium;
}
h4 {
    color: var(--white);
    text-align: center;
    text-decoration: solid;
    font-size: 120%;
    font-weight: 900;
    font-style: italic;
}
h3 {
    color: var(--white);
    text-align: center;
    text-decoration: underline;
    font-size: 100%;
}
.imagen-proyecto {
    width: auto;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-mail {
    height: 20px;
    width: auto;
    position: relative;
    bottom: -2px;
    left: 50px;
}
.div-bottom {
    display: grid;
}
.block {
    text-decoration: none;
    font-size: 200%;
    color: var(--white);
}
@media (max-width: 600px) {
    .perfil {
        left: 160%;
        width: 44%;
        height: 20%;
        border-radius: 65%;
    }
    .logo-lila {
        display: none;
    }
    .dot {
        display: none;
    }
    .contenedor-ppal {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;    
    }
        .contenedor-texto {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .descripcion {
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
        }
        .Nombre-Fede {
            color: white;
            font-size: 60px;
        }
        .Nombre-Git {
            color: var(--cian);
            font-size: 30px;
        }
        .short-description {
            font-size: 20px;
            color: var(--naranja);
        }
        .navbar {
            display: flex; /*Esto es clave para que los elementos dentro de nav (logo, navbar-riht y navbar-left esten uno al lado del otro)*/
            justify-content: space-between;
            padding: 0 20px;
            border-bottom: 2px solid var(--celeste);
            text-decoration: none; /*saca la linea de subrayado que viene por default*/
            padding: 5;
            align-items: center;
            font-size: 280%;
        }
        .navbar-left a:hover{ /*les ponemos el borde y el texto de otro color*/
            border: 2px solid var(--naranja);
            border-radius: 10px;
            color: var(--turquesa);
        }
        .frase {
            display: grid;
            grid-template-columns: 0.2fr 1fr;  
        }
        .contenedor-api {
            display: grid;
            grid-template-columns: 0.8fr;
            grid-template-rows: 0.2fr 1fr;
            max-width: 60%;
            margin-top: -6%;  
        }
        .some-random {
            text-decoration: underline;
            font-size: 120%;
            font-style: oblique;
            color: var(--white);
        }
        .api {
            color: var(--white);
            text-align: left;
            width: 110%;
            font-size: medium;
        }
        h4 {
            color: var(--white);
            text-align: left;
            text-decoration: solid;
            font-size: 220%;
            font-weight: 900;
            font-style: italic;
        }
        h3 {
            color: var(--white);
            text-align: left;
            text-decoration: underline;
            font-size: 100%;
            margin-left: 10%;
        }
        .imagen-proyecto {
            width: auto;
            height: 360px;
            display: block;
            margin-left: 4%;
            margin-right: auto;
        }
        .img-mail {
            height: 20px;
            width: auto;
            position: relative;
            bottom: -2px;
            left: 50px;
        }
        .div-bottom {
            display: grid;
        }
        .block {
            text-decoration: none;
            font-size: 200%;
            color: var(--white);
        }
    }